@page
@model SaludIntegral.App.Frontend.Pages.Patients.seeMyAccountPModel
@using SaludIntegral.App.Dominio
@{
}

<form method="get">
    <div class="form-group">
        <label for="b">Buscar por Identification</label>
        <input name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<h1>Mi cuenta</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Identification</th>
            <th scope="col">Names</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone number</th>
            <th scope="col">EPS</th>
            <th scope="col">Email</th>            
            <th scope="col">Password</th>
            <th scope="col">Location</th>            
            <th colspan="2" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Patient in Model.pacientes)
        {
            <tr>
                <td>@Patient.Identification</td>
                <td>@Patient.Names</td>
                <td>@Patient.DateOfBirth</td>
                <td>@Patient.Gender</td>
                <td>@Patient.Phone_number</td>
                <td>@Patient.EPS</td>
                <td>@Patient.Email</td>
                <td>@Patient.Password</td>
                <td>@Patient.Location</td>                             
                <td><a class="btn btn-secondary" asp-page="./editPatient" asp-route-id="@Patient.Id">Editar</a></td>
            </tr>
        }
    </tbody>
</table>
