@page
@using SaludIntegral.App.Dominio
@model SaludIntegral.App.Frontend.Pages.showPatientsModel
@{
}
<h1>Listado de pacientes</h1>
<table class="table table-striped">
    @foreach(var paciente in Model.patients)
    {
        <tr>
            <td>@paciente.Names</td>
            <td>@paciente.Identification</td>
            <td>@paciente.Gender</td>
            <td>@paciente.EPS</td>

        </tr>
         <tbody>
        @foreach (var paciente in Model.pacientes)
        {
            <tr>
                <td>@paciente.Names</td>
                <td>@paciente.Identification</td>
                <td>@paciente.Gender</td>
                <!--<td><a class="btn btn-secondary" asp-page="./Details1" asp-route-id="@paciente.Id">Detalle</a></td>-->
                <td><a class="btn btn-secondary" asp-page="./EditPatient" asp-route-id="@paciente.Id">Editar</a></td>
            </tr>
        }
    </tbody>
    }
</table>